<form class="m-3 text-center">
  <table class="table p-3 table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">User ID</th>
        <th scope="col">Login</th>
        <th scope="col">Email</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Phone number</th>
        <th scope="col">Role</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ user.userId }}</td>
        <td>{{ user.login }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.surname }}</td>
        <td>{{ user.phoneNumber }}</td>
        <td>{{ user.role }}</td>
        <td>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-secondary" (click)="setEmployee(user)" *ngIf="user.role === 'user'">Set as employee</button>
            <button type="button" class="btn btn-secondary" (click)="setUser(user)" *ngIf="user.role === 'employee'">Set as user</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</form>
