
  <div class="container-fluid my-5" *ngFor="let film of films">
    <div class="card">
      <div class="row ">
        <div class="col-4 text-left">
          <img src="{{'data:image/png;base64,'+film.imageBase64}}" style="height: 60vh;">
        </div>
        <div class="col-md-8 text-center">
          <div class="card-block" style="height: 40vh;">
            <h1 class="card-title"><b>{{film.title}}</b></h1>
            <h4 class="card-text"><b>Category:</b> {{film.category}} <b>Length:</b> {{film.length}} <b>Rating:</b> {{film.rating}}/5</h4>
            <p class="card-text scroll m-3">{{film.description}}</p>
            <div [routerLink]="['/films',film.filmId]" class="btn btn-primary" routerLinkActive="active">Show details or buy tickets</div>
          </div>
        </div>
      </div>
    </div>
  </div>